/* import font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
body, html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #0e0e0e;
  background: #202020;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  padding: 0 10px;
}

$maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

/* this code for 'sticky' footer */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
    flex: 1 1 auto;
    width: 100%;
}


.header {
    position: sticky;
    top: 0;
    background: #1A1A1A;
    min-height: 80px;
    height: 80px;
    z-index: 5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
    height: 80px;
}

.header__item {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.item__logo {
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    position: relative;
}

.items-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style-type: none;
    margin: 0;
}

.item__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 1;
    transition: all 0.2s ease;
}

.item__link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.item__link-login {
    border: 1px solid #fff;
    padding: 5px 25px;
    border-radius: 8px;
}

.item__link-login:hover {
    background: #fff;
    color: #252525;
}

.item__logo:hover {
    color: rgba(255, 255, 255, 0.7);    
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    background-color: #ffffff;
    height: 2px;
    margin: 6px;
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 1024px) {
.burger {
    display: block;
}
}
@media screen and (max-width: 1024px) {
body {
    overflow-x: hidden;
}
.items-list {
    position: absolute;
    right: 0;
    height: calc(100vh - 80px);
    top: 80px;
    width: 100%;
    background: #202020;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    margin: 0;
    padding: 0;
}
.item__link {
    margin: 0;
}
.items-list li {
    opacity: 0;
}
}
.item-active {
    transform: translateX(0%);
}
@keyframes headerLinkFade {
from {
    opacity: 0;
    transform: translateX(-50px);
}
to {
    opacity: 1;
    transform: translateX(0px);
}
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

// main content (video, channel name, etc.)

.main__inner {
    max-width: 1640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    color: #fff;
    height: 100%;
    margin: 0 auto;
}

.main__inner-left {  
    display: flex;
}

.title {
    @include adaptive-font(28, 18);
    font-weight: 700;
    margin-bottom: 50px;
}

.subtitle {
    @include adaptive-font(24, 14);
    font-weight: 500;
}

.channel-name {
    word-break: break-all;
}

.main__inner-left-info-video {
    display: flex;
}

.main__inner-left-right-info {
    max-width: 1640px;
    width: 100%;
    margin-left: 30px;
}

.main__inner-right {
    max-width: 1640px;
    width: 100%;
    position: relative;
}

.main__inner-right-button {
    position: absolute;
    right: 0;  
}

.main__inner-right-button button .bx {
    margin-right: 5px;
}

.copy-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    outline: none;
    background: #fff;
    padding: 10px 15px;
    font-family: 'Montserrat', 'sans-serif';  
    border: 0;
    border-radius: 4px;
}

.main__inner-right-info-title {
    
}

.duration {

}

.main__inner-right-info {
    margin-top: 50px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
.main__inner-right-info-item {

    // border-radius: 4px;
}

.main__inner-right-info-item-title {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 20px;    
}

.item__time {
    background: #393939;
    border-radius: 4px;
    padding: 5px 15px;
    margin-right: 15px;
}
.start-time {
}
.separator {
}
.finish-time {
}
.item__name-container {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.name {
}

.main__inner-right-info-item-text {
    padding: 0 20px 20px 20px;
    display: flex;


    // display: none;
}
.item__text {
    // padding: 0 20px;
}



















  /* footer code */


.footer {
    height: 140px;
    background: #1A1A1A;
    color: #fff;
    @include adaptive-font(16, 12);
}
  
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1640px;
    width: 100%;
    padding: 0 20px;
    height: 140px;
}
  
.footer__name {
    font-weight: 600;
}

  
.footer__rights {
    font-weight: 600;
}

  
.footer__social {
    font-weight: 600;
}
  
.footer__social-container {
    display: flex;
}
  
.footer__social-item {
    margin: 0 20px 0 0;
    transition: all 0.2s ease;
}
  
.footer__social-item:hover {
    opacity: 0.8;
}
  
.footer__social-item img {
    width: 30px;
    height: 30px;
}

.filler {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.modal-window-header {
    background: #1A1A1A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 25px;

    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.modal-window-close .bx {
    cursor: pointer;
    // font-weight: 600;
    font-size: 32px;
    // position: absolute;
    color: #fff;
    top: 25px;
    right: 25px;
    text-decoration: none;
}

.modal-window-header-text {
    font-size: 18px;
    top: 25px;
    left: 25px;
    color: #fff;
}

.modal-window {
    z-index: 101;
    display: none;
    background: #202020;
    max-height: 450px;
    height: 100%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.modal-window-main {
    width: 100%;
    height: 370px;
}

.form_auth_section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.form__content {
    width: 100%;
    margin: 0 20px;
    height: 280px;
    padding: 45px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    border-radius: 10px;
}

.form__auth {
    height: 400px;
    // width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__text {
    @include adaptive-font(18, 14);
    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 380px;
    width: 100%;
}

.form__social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    
}

.form__social-item img {
    width: 70px;
    height: 70px;
}

.form__social-item:nth-child(2) img {
    width: 150px;
}


.form__important-text {
    @include adaptive-font(16, 12);
    margin: 30px 50px 0 50px;
    text-align: center;
}

@media screen and (min-width: 1920px) {
    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 24px;
    }


    .main__title {
        font-size: 64px;
    }
    
    .main__subtitle {
        font-size: 32px;
    }

    .main__input-button {
        font-size: 16px;
    }

    .main__params-title {
      font-size: 32px;
    }
}

@media screen and (max-width: 1400px) {
    .video {
        width: 700px;
        height: 350px;
    }
}

@media screen and (max-width: 1100px) {
    .main__inner-left {
        flex-direction: column;
    }

    .title {
        margin-bottom: 30px;
    }

    .main__inner-left-right-info {
        margin: 50px 0 0 0;
    }

}


@media screen and (max-width: 600px) {

    .video {
        width: 600px;
        height: 250px;
    }
    
    .form__social-item img {
        width: 50px;
        height: 50px;
    }
    
    .form__social-item:nth-child(2) img {
        width: 90px;
    }

    .modal-window {
        height: 350px;
    }

    .form__important-text {
        @include adaptive-font(16, 12);
        margin: 10px 0;
        text-align: center;
    }

    .main__params-left {
      max-width: 410px;
      margin: 0;
    }

    .main__params-right {
      max-width: 410px;
      margin: 0;
    }

}

@media screen and (max-width: 410px) {
    .footer__inner {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
        align-items: center;
        text-align: center;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}