/* import font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
body, html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #0e0e0e;
  background: #202020;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* this code for 'sticky' footer */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  width: 100%;
}

/* header code */
.header {
  position: sticky;
  top: 0;
  background: #1A1A1A;
  min-height: 80px;
  height: 80px;
  z-index: 5;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
  height: 80px;
}

.header__item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.item__logo {
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease;
  position: relative;
}

.items-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style-type: none;
  margin: 0;
}

.item__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 1;
  transition: all 0.2s ease;
}

.item__link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.item__link-login {
  border: 1px solid #fff;
  padding: 5px 25px;
  border-radius: 8px;
}

.item__link-login:hover {
  background: #fff;
  color: #252525;
}

.item__logo:hover {
  color: rgba(255, 255, 255, 0.7);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  background-color: #ffffff;
  height: 2px;
  margin: 6px;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .items-list {
    position: absolute;
    right: 0;
    height: calc(100vh - 80px);
    top: 80px;
    width: 100%;
    background: #202020;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    margin: 0;
    padding: 0;
  }
  .item__link {
    margin: 0;
  }
  .items-list li {
    opacity: 0;
  }
}
.item-active {
  transform: translateX(0%);
}

@keyframes headerLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* main content code */
.main__container {
  height: 100%;
  width: 1640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 20px;
}

.main__text {
  height: 250px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.main__title {
  font-family: "Montserrat Black", sans-serif;
}
@media (max-width: 767px) {
  .main__title {
    font-size: calc(24px + 68 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .main__title {
    font-size: calc(24px + 40 * (100vw / 1920));
  }
}

.main__subtitle {
  color: rgba(255, 255, 255, 0.7294117647);
  font-weight: 600;
}
@media (max-width: 767px) {
  .main__subtitle {
    font-size: calc(16px + 27.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .main__subtitle {
    font-size: calc(16px + 16 * (100vw / 1920));
  }
}

.main__input-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.main__input-field {
  border: 1px solid #fff;
  outline: none;
  font-size: 28px;
  height: 60px;
  width: 90%;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  background: none;
  color: #fff;
  padding: 0 10px;
}

.main__input-button {
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  font-weight: 700;
  background: #FFFFFF;
  height: 60px;
  width: 150px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main__input-button {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .main__input-button {
    font-size: calc(12px + 4 * (100vw / 1920));
  }
}

/* footer code */
.footer {
  height: 140px;
  background: #1A1A1A;
  color: #fff;
}
@media (max-width: 767px) {
  .footer {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer {
    font-size: calc(12px + 4 * (100vw / 1920));
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1640px;
  width: 100%;
  padding: 0 20px;
  height: 140px;
}

.footer__name {
  font-weight: 600;
}

.footer__rights {
  font-weight: 600;
}

.footer__social {
  font-weight: 600;
}

.footer__social-container {
  display: flex;
}

.footer__social-item {
  margin: 0 20px 0 0;
  transition: all 0.2s ease;
}

.footer__social-item:hover {
  opacity: 0.8;
}

.footer__social-item img {
  width: 30px;
  height: 30px;
}

.filler {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.modal-window {
  z-index: 101;
  display: none;
  background: #fff;
  max-height: 600px;
  height: 100%;
  max-width: 900px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal-window::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background: #1A1A1A;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 80px;
  width: 100%;
}

.modal-window-close .bx {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  color: #fff;
  top: 25px;
  right: 25px;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .main__title {
    font-size: 64px;
  }
  .main__subtitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  .main__input-container {
    flex-direction: column;
    height: 120px;
  }
  .main__input-field {
    height: 50px;
    width: 100%;
  }
  .main__input-button {
    height: 50px;
  }
}
@media screen and (max-width: 410px) {
  .footer__inner {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    align-items: center;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */