{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtext</title>
    {% block css %}{%  endblock %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header__container">
                <div class="header__item">
                    <div><a href="{% url 'generator' %}" class="item__logo">youtext</a></div>
                </div>
                {% if not request.user.is_authenticated %}
                    <ul class="items-list">
                        <li><a href="#" class="item__link item__link-login">войти</a></li>
                    </ul>
                {% else %}
                    <ul class="items-list">
                        <li><a href="{% url 'logout' %}" class="item__link item__link-login">выйти</a></li>
                    </ul>
                {% endif %}
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </div>

        <div class="filler"></div>
        <div class="modal-window">
            <div class="modal-window-header">
                <div class="modal-window-header-text">youtext</div>
                <div class="modal-window-close"><i class='bx bx-x'></i></div>
            </div>
            <div class="modal-window-main">
                <section class="form_auth_section">
                    <div class="form__content form__content-registration">
                        <form class="form__auth" action="#" method="post">
                            <div class="form__container">
                                <div class="form__text">
                                    Войти через:
                                </div>
                                <div class="form__social">
                                    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="form__social-item"><img src="{% static 'article_generator/media/icons/vk-colored.png' %}" alt=""></a>
                                    <a href="{% url 'social:begin' 'yandex-oauth2' %}" class="form__social-item"><img src="{% static 'article_generator/media/icons/yandex_id.png' %}" alt=""></a>
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="form__social-item"><img src="{% static 'article_generator/media/icons/youtube.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="form__important-text">
                                Авторизуясь, вы получаете бонус.
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <main class="main">
        {% block content %}{% endblock %}
        </main>


        <footer class="footer">
            <div class="footer__inner">
                <div class="footer__text">
                    <div class="footer__name">
                        Вопросы
                    </div>
                    <div class="footer__rights">
                        supportyoutext@gmail.com
                    </div>
                </div>
                <div class="footer__social">
                    <div class="footer__social-title">Мы в социальных сетях:</div>
                    <div class="footer__social-container">
                        <a class="footer__social-item" href="#"><img src="{% static 'article_generator/media/icons/icon-discord.png' %}" alt=""></a>
                        <a class="footer__social-item" href="#"><img src="{% static 'article_generator/media/icons/icon-telegram.png' %}" alt=""></a>
                        <a class="footer__social-item" href="#"><img src="{% static 'article_generator/media/icons/icon-vk.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% block js %}{% endblock %}


</body>
</html>