{% extends 'article_generator/html/base.html' %} {% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'article_generator/css/generated.css' %}"> {% endblock %}
{% block content %}
    <div class="main__inner">
                <div class="main__inner-left">
                    <div class="main__inner-left-info">
                        <div class="main__inner-left-info-title title">Название канала: <span class="channel-name">{{ name_channel }}</span></div>
                        <div class="main__inner-left-info-video">
                            <iframe width="900" height="450" class="video"
                                src="https://www.youtube.com/embed/{{ video }}"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="main__inner-left-right-info">
                        <div class="main__inner-left-info-title title">Продолжительность видео: <span class="duration">{{ duration }}</span></div>
                        <div class="subtitle">Длина аннотации: <span class="ann-length">{{ annotation_length }}</span></div>
                        <div class="subtitle">Длина статьи: <span class="ann-length">{{ article_length }}</span></div>
                        <div class="subtitle">Интервал создания скриншота: <span class="ann-length">{{ interval_picture }}</span></div>
                    </div>
                </div>
               <div class="main__inner-right">
                    <div class="main__inner-right-info">
                        <div class="main__inner-right-info-item">
                            <div class="main__inner-right-info-item-title">
                                <div class="item__time">
                                <span class="start-time">
                                    {{ mode_duration }}
                                </span>
                            </div>
                            <div class="item__name-container">
                                <div class="name">Сгенерированная статья</div>
                                <div class="main__inner-right-button">
                                    <button class="copy-button" onclick="copyContent()"><i class='bx bx-copy'></i> Копировать</button>
                                </div>
                            </div>
                        </div>
                        <div class="main__inner-right-info-item-text">
                            <div class="item__text" contenteditable>
                                {{ text|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="success-notification">
                <p>Успешное копирование!</p>
            </div>
{% endblock %}

{% block js %}<script src="{% static 'article_generator/js/generated.js' %}"></script>{% endblock %}
